*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    font-family: "Rubik Mono One", Arial, Helvetica, sans-serif;
}

.shortcuts{
    position: fixed;
    top:0;
    right:0;
    position: fixed;
    margin: 20px;
}

.pallino{
    display: inline-block;
    width: 30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}

.red{
    width: 100%;
    height: 100vh;
    background-color: red;
}


.green{
    width: 100%;
    height: 100vh;
    background-color: green;
}




.yellow{
    width: 100%;
    height: 100vh;
    background-color: yellow;
}