*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    font-family: "Rubik Mono One", Arial, Helvetica, sans-serif;
}



/* pallini fixed */
.shortcuts{
    position: fixed;
    top:0;
    right:0;
    position: fixed;
    margin: 20px;
    z-index: 2;
}

.pallino{
    display: inline-block;
    width: 30px;
    height:30px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    margin: 10px;
}
/* fine pallini fixed */


/* start main */
.shoes{
    width: 100%;
    height: 100vh;
    position: relative;
}

.shoes.one{
    background-color:red;

}

.shoes.two{
    background-color: green;
}

.shoes.three{
    background-color: yellow;
}


/* parte inside section */
.box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;    
}

.box img{
    width: 100%;
}

.box h2{
    color:yellow;
    font-size: 30px;
}

.shoes.three .box h2{
    color:green;
}
/* fine parte inside section */

/* end main */